---
import RootLayout from '../layouts/RootLayout.astro';
import SocialMediaButtonGroup from '../components/astro/ui/SocialMediaButtonGroup.astro';
import TrustedCompaniesContainer from '../components/astro/TrustedCompaniesContainer.astro';
import ServicesContainer from '@/components/react/ServicesContainer';
import FeaturedTechCards from '@/components/react/FeaturedTechCards';
import BlogContainer from '@/components/react/BlogContainer';
---

<RootLayout
	title="Amplified Web Presence for Creative Entrpreneurs"
	description="SPAP Technology Solutions specializes in crafting solutions for creative entrepreneurs including website development, app development,business tools, integrations, copywriting, and more."
	imageRef="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/branding/logos/SPAP%20Logos/Vertical/PNG/White_Vertical%20Lockup_SPAP.png"
	urlSlug="/"
>
	<section
		id="hero"
		class="relative h-screen overflow-hidden rounded-xl"
	>
		<video
			class="absolute top-1/2 left-1/2 w-full h-full object-cover transform -translate-x-1/2 -translate-y-1/2 z-10"
			src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/media/video/Black%20Video%201920x1080.mp4?t=2024-11-15T06%3A35%3A09.659Z"
			autoplay
			muted
			loop
			playsinline></video>

		<!-- Content on top of the video -->
		<div
			id="content-container"
			class="relative z-20 bg-black/25 flex flex-col items-center justify-center py-10 text-white px-4 h-full"
		>
			<h1
				class="text-7xl font-semibold md:text-[8rem] md:text-center order-1 md:w-2/3 lowercase"
			>
				Shawn Paps
			</h1>
			<h2>Web Developer | Web Designer | Data Management</h2>
			<div class="order-3">
				<SocialMediaButtonGroup color="text-primary" />
			</div>
			<p
				class="text-right pb-8 font-bold text-xl md:text-center order-2 md:text-5xl lowercase"
			>
				Web Solutions Expert for <span
					class="bg-gradient-to-r from-accent-magenta to-accent-purple bg-clip-text text-transparent"
					>Creative Businesses.
				</span>
			</p>
			<a
				href="/#services"
				class="p-5 border-2 block text-center transition hover:bg-accent-magenta border-accent-magenta order-5 mt-8 w-1/2 rounded-md"
				>Learn More</a
			>
			<!--<div class="order-5 max-w-screen">-->
			<!--    <TestimonialsContainer testimonials={testimonials} client:load />-->
			<!--</div>-->
		</div>
	</section>
	<section id="social-proof">
		<div class="text-white flex flex-col items-center p-10">
			<p class="text-2xl text-center">Trusted by these creative brands:</p>

			<TrustedCompaniesContainer />
		</div>
	</section>
	<section id="services" class="p-10 mb-16 flex flex-col items-center">
		<h2 class="text-7xl p-4">Services I Offer</h2>
		<ServicesContainer client:visible />
	</section>
	<!--<section-->
	<!--	id="pro-audio"-->
	<!--	class="flex flex-col md:flex-row min-h-screen  mb-32"-->
	<!--&gt;-->
	<!--	<div class="p-2 md:min-w-[60%]" id="audio-copy">-->
	<!--		<h2 class="text-7xl opacity-20">Pro Audio</h2>-->
	<!--		<h3 class="text-5xl w-2/3">-->
	<!--			I have over a decade of experience recording & mixing audio.-->
	<!--		</h3>-->
	<!--		<div class="py-8 flex items-center text-xl">-->
	<!--			<a-->
	<!--				href="/contact"-->
	<!--				class="p-5 bg-accent-magenta rounded-md px-16 hover:bg-white hover:text-accent-magenta transition"-->
	<!--				>Connect With Me</a-->
	<!--			>-->
	<!--			<a-->
	<!--				class="opacity-50 p-5 hover:opacity-100 transition"-->
	<!--				href="/projects/pro-audio">See Who I've Worked With</a-->
	<!--			>-->
	<!--		</div>-->
	<!--		<video-->
	<!--			class="opacity-20 rounded-xl h-full w-full object-cover md:hidden"-->
	<!--			src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/media/video/Shawn-Guitar.mp4"-->
	<!--			autoplay-->
	<!--			muted-->
	<!--			loop-->
	<!--			playsinline></video>-->
	<!--		<div class="w-full">-->
	<!--			<ProAudioTabs client:visible />-->
	<!--		</div>-->
	<!--	</div>-->
	<!--	<div id="audio-image" class="min-h-screen hidden md:block">-->
	<!--		<video-->
	<!--			class="opacity-20 rounded-xl h-full w-full object-cover"-->
	<!--			src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/media/video/Shawn-Guitar.mp4"-->
	<!--			autoplay-->
	<!--			muted-->
	<!--			loop-->
	<!--			playsinline></video>-->
	<!--	</div>-->
	<!--</section>-->
	<section id="web-solutions" class="p-2 min-h-screen">
		<h2 class="text-7xl opacity-20 text-right">Web Solutions</h2>
		<div class="flex flex-col md:flex-row md:justify-between gap-8">
			<div class="md:max-w-[60%] order-2 md:order-1">
				<video
					class="opacity-50 rounded-xl h-full w-full object-cover"
					src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/projects/videos/equature_thumbnail.mp4"
					autoplay
					muted
					loop
					playsinline></video>
				<a
					href="/projects/web"
					class="block hover:bg-accent-magenta hover:text-white transition text-white/50 p-10 text-center text-2xl border-2 border-white/50 mt-4 rounded-xl"
					>View my Case Studies</a
				>
			</div>
			<div class="text-right order-1 md:order-2">
				<h3 class="text-5xl py-4">
					Navigate the Technical Side of Your Business with Ease.
				</h3>
				<p class="text-2xl text-left mt-16">
					I’ll help you Establish dominance in your online presence with
					Content-driven Web solutions tailored to your Brand :
				</p>
				<ul
					class="text-center flex flex-wrap justify-center gap-8 text-4xl py-5 text-accent-magenta"
				>
					<li>Custom Websites</li>
					<li>Web Apps</li>
					<li>Content Management</li>
					<li>Integrations</li>
					<li>Business Tools</li>
					<li>Copywriting</li>
				</ul>
				<a
					href="/contact"
					class="block bg-accent-magenta hover:bg-white hover:text-accent-magenta text-white transition p-10 text-center text-2xl mt-4 rounded-xl"
					>Get Started Today</a
				>

				<FeaturedTechCards client:visible />
			</div>
		</div>
	</section>
	<section class="py-32" id="newsletter">
		<h2 class="text-7xl opacity-20">Subscribe to My Newsletter</h2>
		<div
			class="flex flex-col items-center justify-center p-10 bg-secondary my-32"
		>
			<h3 class="text-7xl">Riffs. Code. Coffee.</h3>
			<p class="text-2xl">
				A Weekly Music & Tech Newsletter where I document my experiences &
				provide useful insights for musicians, creatives, and entrepreneurs.
			</p>
			<iframe
				src="https://embeds.beehiiv.com/ad31a6a5-6362-488a-a30a-bd035dfb2d2b?slim=true"
				data-test-id="beehiiv-embed"
				height="52"
				frameborder="0"
				scrolling="no"
				style="margin: 0; border-radius: 0px !important; background-color: transparent; width: 500px"
			></iframe>
		</div>

		<BlogContainer client:visible />
	</section>
</RootLayout>

<script
	type="text/javascript"
	async
	src="https://embeds.beehiiv.com/attribution.js"></script>
