---
import RootLayout from "../layouts/RootLayout.astro";
import {Input} from '../components/ui/input.tsx'
import {Slider} from '../components/ui/slider'
import TestimonialForm from '../components/react/TestimonialForm'
---
<RootLayout>
<main class="flex flex-col items-center justify-center min-h-[50vh] lg:min-h-screen w-full">
    <section class="bg-text-primary/25 text-accent-pop font-bold p-8 lg:p-20 rounded-xl w-screen max-w-screen-xl">
    <TestimonialForm client:load/>
    </section>
</main>
</RootLayout>