---
import { Icon } from 'astro-icon/components';

const { buttonData } = Astro.props;
---

<a
	href={buttonData.href}
	target="_blank"
	class=`border-2 border-${buttonData.color} text-${buttonData.color} bg-transparent flex-col justify-center flex items-center rounded-full text-2xl p-3`
>
	<Icon class="" name={buttonData.iconRef} />
</a>
