---
import { Icon } from 'astro-icon/components';
import NavigationContainer from '../components/astro/NavigationContainer.astro';
import '../styles/globals.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body
		class="mx-auto bg-gradient-to-b from-black to-gray-900 min-h-screen flex flex-col items-center"
	>
		<header>
			<NavigationContainer />
		</header>
		<main>
			<slot />
		</main>
		<footer class="p-4 text-white w-full mt-auto border-t-[.5px]">
			<Icon class="text-4xl" name={'logos/white-primary'} />
			<p class="text-xs text-center mt-8">
				© 2024 SPAP Technology Solutions. All Rights Reserved.
			</p>
		</footer>
	</body>
</html>

<style global>
	@import '../styles/globals.css';
</style>
