---
import RootLayout from '../layouts/RootLayout.astro';
import ContactForm from '../components/react/ContactForm';
---

<RootLayout title="Let's Chat | SPAP Technology">
	<section
		class="min-h-screen flex flex-col justify-center items-center bg-black/90"
	>
		<h1
			class="text-4xl lg:text-7xl lg:p-2 text-center font-bold bg-gradient-to-r from-purple-500 to-indigo-500 bg-clip-text text-transparent"
		>
			Ready to Amplify Your Web Presence?
		</h1>

		<ContactForm client:load />
	</section>
</RootLayout>
