---
import RootLayout from '../layouts/RootLayout.astro';
import { Icon } from 'astro-icon/components';
import ServicesHub from '../components/react/ServicesHub';
import TestimonialContainer from '../components/react/TestimonialContainer';
import SocialMediaIcon from '../components/astro/SocialMediaIcon.astro';
import Logo from '../components/astro/Logo.astro';
import SocialMediaButtonGroup from '../components/astro/ui/SocialMediaButtonGroup.astro';
import '../index.css';

import '../styles/globals.css';
import { Button } from '../components/ui/button';
import SocialMediaButton from '@/components/astro/ui/SocialMediaButton.astro';
import FeaturedProjectsGrid from '../components/astro/FeaturedProjectsGrid.astro';

const handleRedirect = (url) => {
	window.location.href = url;
};
---

<RootLayout title="Modern Web Solutions for Entrepreneurs & Creators">
	<!-- Video Background -->
	<section
		id="hero"
		class="relative w-full h-screen overflow-hidden rounded-xl"
	>
		<video
			class="absolute top-1/2 left-1/2 w-full h-full object-cover transform -translate-x-1/2 -translate-y-1/2 z-10"
			src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/media/video/Abstract%20Background%20Video.mp4"
			autoplay
			muted
			loop
			playsinline></video>

		<!-- Content on top of the video -->
		<div
			id="content-container"
			class="relative z-20 bg-black/40 flex flex-col items-center lg:justify-center py-10 text-white px-4 h-full"
		>
			<h1
				class="text-4xl lg:text-6xl font-bold lg:text-center mb-4 lg:order-1 lg:w-2/3 lowercase"
			>
				Unleash your creativity with the power of the modern web.
			</h1>
			<SocialMediaButtonGroup />
			<p
				class="text-right pl-20 py-8 font-bold text-lg lg:order-2 lg:text-xl lowercase"
			>
				SPAP Technology crafts custom web solutions for creators & entrepreneurs
				that want more than just a website.
			</p>
		</div>
	</section>
	<section id="featured-projects" class="min-h-screen bg-text-primary py-8">
		<div
			class="flex justify-between items-center border-b-2 py-4 border-background-primary px-2 mx-2"
		>
			<h2 class="text-3xl font-bold">featured projects</h2>
			<div class="w-24">
				<SocialMediaButton
					buttonData={{
						iconRef: 'mdi:github',
						href: 'https://github.com/paps-dot-dev',
						color: 'background-primary',
					}}
				/>
			</div>
		</div>
		<FeaturedProjectsGrid />
	</section>
</RootLayout>
