---
const { name, href } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<div
	class="flex justify-between items-center w-full p-2 text-2xl font-bold rounded hover:border-white hover:scale-110"
>
	<span>{name}</span>
	<a
		class="border-2 border-background-primary text-background-primary rounded-full px-8 py-2"
	>
		<Icon class="" name="mdi:arrow-top-right" />
	</a>
</div>
