---
import { Icon } from 'astro-icon/components';
import MobileNavLink from './MobileNavLink.astro';
import { Button } from '@/components/ui/button';
---

<div class="flex justify-center items-center lg:hidden ml-auto mt-2">
	<Button id="hamburger-menu" variant="outline"
		><Icon name={'mdi:apps'} /></Button
	>
</div>

<dialog
	id="mobile-nav"
	class="h-screen w-screen rounded-md bg-black border-white border-2 text-white"
>
	<button id="close-nav" class="ml-auto block m-4 outline-none w-fit text-xl"
		><Icon name={'mdi:close'} /></button
	>
	<Icon class="text-7xl mx-auto" name="logos/vertical/black-vertical" />
	<ul class="mt-16 flex flex-col items-center h-full gap-16 text-center p-8">
		<li class="w-full">
			<MobileNavLink href="/" name="Home" />
		</li>
		<li class="w-full">
			<MobileNavLink href="/case-studies" name="Case Studies" />
		</li>
		<li class="w-full">
			<MobileNavLink href="/contact" name="Contact" />
		</li>
		<li class="w-full">
			<MobileNavLink
				href="https://newsletter.spaptechnology.com/subscribe"
				name="Newsletter"
			/>
		</li>
	</ul>
</dialog>

<script>
	const openNav = () => {
		document.getElementById('mobile-nav').showModal();
	};
	document
		.getElementById('hamburger-menu')
		.addEventListener('click', () => openNav());

	document
		.getElementById('close-nav')
		.addEventListener('click', () =>
			document.getElementById('mobile-nav').close()
		);
</script>
