---
import { Icon } from 'astro-icon/components';
import MobileNavLink from './MobileNavLink.astro';
import { Button } from '@/components/ui/button';
---

<div class="flex justify-center items-center lg:hidden">
	<button class="rounded-full bg-text-primary p-4" id="hamburger-menu"
		><Icon class="text-xl text-accent-primary" name={'mdi:apps'} /></button
	>
</div>

<dialog
	id="mobile-nav"
	class="h-screen w-screen rounded-md bg-text-primary text-background-primary"
>
	<div class="flex justify-between items-center p-4">
		<img
			class="w-6 object-cover"
			src="https://iiyjiikbtsckevydbcsj.supabase.co/storage/v1/object/public/website-assets/branding/logos/SPAP%20Logos/Icon/PNG/Black_Icon%20Lockup_SPAP.png"
		/>
		<button id="close-nav" class="ml-auto block outline-none w-fit text-xl"
			><Icon name={'mdi:close'} /></button
		>
	</div>

	<ul class="flex flex-col items-center h-full gap-16 text-left px-4 mt-8">
		<li class="w-full">
			<MobileNavLink href="/" name="Home" />
		</li>
		<li class="w-full">
			<MobileNavLink href="/case-studies" name="Case Studies" />
		</li>
		<li class="w-full">
			<MobileNavLink href="/contact" name="Contact" />
		</li>
		<li class="w-full">
			<MobileNavLink
				href="https://newsletter.spaptechnology.com/subscribe"
				name="Newsletter"
			/>
		</li>
	</ul>
</dialog>

<script>
	const openNav = () => {
		document.getElementById('mobile-nav').showModal();
	};
	document
		.getElementById('hamburger-menu')
		.addEventListener('click', () => openNav());

	document
		.getElementById('close-nav')
		.addEventListener('click', () =>
			document.getElementById('mobile-nav').close()
		);
</script>
